<% provide(:title, 'About Us')%>
<h1>What's up ya'll, here is the About Us page</h1>
<p>We are ballers and love to play b-ball but are only 3 feet tall. Kinda sucks, but that didn't stop anyone in Space Jam</p>



