<% provide(:title, 'Contact Form')%>
<h1>Reach out to us, Contact us, keep it real</h1>
<p>By typing some letters into our form, you're sending a message far away from your house. We really have it easy in today's age. Give it a try, send us a question or commment :-)</p>



