<footer class="footer">
	<small>
		<a href="http://www.appacademy.io">App Academy Recommended</a> tutorial sample app.
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",      "#" %></li>
			<li><%= link_to "Contact",    "#" %></li>
			<li><a href="http://www.juiceitupp.com/">My nutrition blog</a></li>			
		</ul>
	</nav>
</footer>